<div>
  <span class = "jumbotron" style="float: left; margin-top: 0em; margin-right: 1.5em; margin-left: 1.5em; width: 40%;"> 
    <h2>Components:</h2>
    <app-components *ngFor = "let com of availableComponents" [component] = "com"></app-components>
  </span>
  <span class = "jumbotron" style="float: left; margin-top: 0em; margin-right: 1.5em; margin-left: 1.5em; width: 25%;">
    <h2>Upgrades:</h2>
    <app-upgrades *ngFor = "let upg of availableUpgrades" [upgrade] = "upg"></app-upgrades>
  </span>
</div>