<div class="card custom-card">
  <div class="card-header">
    <h3 class="text-center">{{bitcoinDisplay}} Bitcoins</h3>
    <h5 class="text-center">Bitcoins Per Second: {{bitcoinPerSecondDisplay}}</h5>
  </div>
  <div>
    <div class="container">
      <div class="col text-center">
        <button class="w-75 h-75 clicker-button" (click)="onClick()">Mine Bitcoin</button>
      </div>
      <!-- <button (click)="onDebugClick()">Debug Button (add 100 trillion bitcoin)</button> -->
    </div>
  </div>
</div>
  
<div class="container col text-center">
  <p>
    <button class="btn custom-btn w-75 h-75" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Statistics
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card custom-card card-body">
      <h4>Algorithm Unlock Statistics:</h4>
      
      All-Time Bitcoins Produced: {{allTimeBitcoinsDisplay}}<br>
      Bitcoins Produced By Clicks: {{bitcoinsByClickingDisplay}}<br>
      Total Number of Clicks: {{totalClicksDisplay}}<br>
      Total Bitcoins Spent: {{bitcoinsSpentDisplay}}
    </div>
  </div>
</div>
