<div class="card text-white bg-secondary mb-3 text-center">
  <div class="card-header">
    {{hardware.name}}
  </div>
  <div class="card-body">
    <img src="assets/images/{{hardware.name}}.png" alt="">
    <h5 class="card-title">{{hardware.price}} Bitcoins</h5>
    <p class="card-text">{{hardware.description}}</p>
    <p class="card-text">Total Owned: {{hardware.totalAmount}}</p>
    <button href="#" class="btn btn-success" [disabled]="notAvailable" (click) = "onPurchase()">Purchase</button>
  </div>
</div>
